
<table>
      <h3>Payment</h3>
                        <tr>
                            <td> Name</td>
                            <td> <input type="text" id="name" name="name" required> </td>
                        </tr>
                        <tr>
                            <td> Card Number</td>
                            <td> <input type="number" id="CardNumber" name="CardNumber" required> </td>
                        </tr>
                        <tr>
                            <td> MM/YY</td>
                            <td> <input type="date" id="Diastolic" name="Diastolic" pattern="\d{2}-\d{2}" required> </td>
                        </tr>
                        <tr>
                            <td> CVV</td>
                            <td> <input type="number" id="CVV" name="CVV" required> </td>
                        </tr>
</table>
 <div>
<!--<input type="submit" value="Submit Payment" id="Submit" class="btn btn-default" style="background-color: #1b6ec2; color: white" onclick="location.href='@Url.Action("Cart", "PaymentComplete")'" />    --> 
</div>
<a type="button" class="btn btn-success" style="float: bottom" asp-area="" asp-controller="Cart" asp-action="PaymentComplete"> Pay </a>
