@model List<Codecool.CodecoolShop.Models.Product>
@{
    List<ProductCategory> category = (List<ProductCategory>)@ViewData["category"]!;}
 @{
     List<Supplier> supplier = (List<Supplier>)@ViewData["supplier"]!;}


    <select onchange="ChangeCategory(this.value)">
        <option value="All">All</option>
        @foreach (var item in category)
       {
           <option value="@item.Id">@item.Name</option>
       }
    </select>
    <select onchange="ChangeSupplier(this.value)">
        <option value="All">All</option>
        @foreach (var item in supplier)
       {
           <option value="@item.Id">@item.Name</option>
       }
    </select>

<div id="container">
    <partial name="CreateCards" model="Model" />
</div>